<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learn and master Vim • Vim Academy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Learn the basic of the Vim, all in the browser">
    <meta name="author" content="Raphael Amorim">

    <!-- Fonts -->
    <link rel="stylesheet" href="css/fonts.css">
    <!-- CSS -->
    <link rel="stylesheet" href="css/main.css">

    <!-- Favicon -->
    <link rel='shortcut icon' href='images/favicon.png' />
</head>
<body>
    <div class="content">
        <span class="bk-screen">
            <i></i>
        </span>
        <div class="main">
            <h1>Try Vim</h1>
            <h2>Learn all vim's shortcuts in less than 10 minutes.</h2>
            <p><a href="/course/1" class="btn">Let's Start!</a></p>
        </div>
    </div>
    <footer>
        created by <a href="https://github.com/raphamorim">raphamorim</a>
    </footer>

</body>
</html>
