body{
  background: #334960;
  font-family: 'Open Sans', Helvetica, arial;
  color: #F8F8F8;
}

.content {
    position: relative;
    width: 500px;
    margin: 0 auto;
    margin-top: 50px;
}

.main {
    position: relative;
    padding-top: 320px;
    text-align: center;
    width: 600px;
    margin-left: -40px;
}

.main>p {
    padding-top: 30px;
}

.btn {
  padding: 15px 100px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  cursor: pointer;
  background-color: #a6d7a0;
  color: #FFF;
  font-size: 20px;
  text-shadow: 0 0 10px rgba(0,0,0,.5);
  text-decoration: none;
  -webkit-transition: background-color .2s ease;
     -moz-transition: background-color .2s ease;
      -ms-transition: background-color .2s ease;
       -o-transition: background-color .2s ease;
          transition: background-color .2s ease;
}

.btn:hover {
  background-color: #93c08e;
}

.bk-screen {
  position: absolute;
  width: 500px;
  height: 300px; /*241px*/
  background: #343441;
  border-top: 20px solid #D7D7D7;
  border-radius: 5px;
  background:url('../images/code-bg.jpg');
  background-size: 100% 100%;
    -webkit-animation: slide 15s linear infinite;
  -moz-animation:    slide 15s linear infinite;
  -o-animation:      slide 15s linear infinite;
  animation:         slide 15s linear infinite;

  &:before {
    content: '';
    position: absolute;
    background: #343434;
    width: 78px;
    height: 17px;
    bottom: -25px;
    left: 51px;
  }

  &:after {
    content: '';
    position: absolute;
    width: 76px;
    height: 0;
    bottom: -38px;
    right: 38px;
    border-bottom: 14px solid #626262;
    border-left: 13px solid rgba(0, 0, 0, 0);
    border-right: 14px solid rgba(0, 0, 0, 0);
  }

  i {
    position: absolute;
    background: #343434;
    width: 103px;
    height: 9px;
    bottom: -47px;
    left: 39px;
  }

}

@-webkit-keyframes slide {
    from{
        background-position:0px 0px;
    }
    to{
        background-position:0px 600px;
    }
}
@-moz-keyframes slide {
    from{
        background-position:0px 0px;
    }
    to{
        background-position:0px 600px;
    }
}
@-o-keyframes slide {
    from{
        background-position:0px 0px;
    }
    to{
        background-position:0px 600px;
    }
}
@keyframes slide {
    from{
        background-position:0px 0px;
    }
    to{
        background-position:0px 600px;
    }
}

/*
  GitHub Flag
*/

footer {
  width: 500px;
  margin: 0 auto;
  padding-top: 50px;
  text-align: center;
}

footer a {
  color: #93c08e;
  text-decoration: none;
}
